/*----------------------
  Mobile first!
----------------------*/

body{
  margin: 0;
  font-family: Arial, Verdana, Geneva, Tahoma, sans-serif;
  padding-bottom: 65px;
  position: absolute;
  width: 100%;
  min-height: 100%;
}



/*----------------------
    Start of navbar
----------------------*/
.navbar {
  background-color: white;
  border-bottom: rgba(10, 23, 80) solid 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*flex-direction: column;*/
  top: 0;
  width: 100%;
  z-index: 100;
  height: 40vh;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar ul {
  display: flex;
  list-style: none;
  overflow: hidden;
  flex-direction: column;
}

.navbar ul a{
  display: block;
  border-radius: 20px;
  color: black;
  font-weight: 700;
  padding: 15px 12px;
  text-decoration: none;
  transition: background-color 0.6s ease, color 0.3s;
}

.navbar ul a:hover{
  background-color:rgb(10, 23, 80);
  color: white;
}

.nav-list{
  margin-right: 10%;
}


.navbar li {
  display: inline-block;
  list-style: none;
}


.logo {
  float: left;
  display: block;
  padding: 10px;
  margin-left: 5px;
  white-space: nowrap;
}

.logo img{
  border-radius: 70%;
  transition: 1s;
  width: 6vh;
}

.logo img:hover{
  box-shadow: 0 0 15px 10px yellow;
}

.logo a {
  align-items: center;
  border-radius: 50px;
  color: black;
  display: flex;
  font-size: 1.5rem;
  font-weight: 800;
  padding-right: 18px;
  text-decoration: none;
  transition: background-color 0.6s ease-in-out, color 0.3s ease-in-out;
}


/*.skip-to-content code (below) is retrieved from https://www.w3schools.com/accessibility/accessibility_skip_links.php */
.skip-to-content {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  overflow: hidden;
}




/*----------------------
  End of navbar
----------------------*/


/*----------------------
    Start of footer and button skip-to-top
----------------------*/
.button-up {
  background-color: rgb(84, 105, 201);
  border-radius: 16px;
  border: rgb(84, 105, 201) solid 2px;
  bottom: 0;
  margin: 12px 8px;
  position: fixed;
  right: 0;
}

.button-up img {
  filter: invert(100%);
  padding: 8px;
  transform: rotate(-90deg);
  transition: 0.2s;
  width: 24px;
}
  
.button-up img:hover {
  width: 70px;
}

footer{
  border: rgb(10, 23, 80) solid 2px;
  bottom: 0;
  margin: 12px 8px;
  left: 0;
  position: relative;
  background-color: rgb(10, 23, 80);
  font-size: 13px;
  color:white;
  height: 50px;
}

footer a{
  color:white;
}


/*----------------------
  End of footer and button skip-to-top
----------------------*/


/*----------------------
Start general headings and paragraphs
----------------------*/

h1, h2, p{
  padding: 0;
}

h1, h2 {
  line-height: 60px;
  text-align: center;
}

h1 {
  font-size: 3rem;
}

h2, h3{
  font-size: 2rem;
  text-align: center;
}

p{
  font-size: 20px;
  line-height: 30px;
}

/*----------------------
End general headings and paragraphs
----------------------*/

/*----------------------
Start content reflection-essay.html
----------------------*/

.container-reflection{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
  flex-wrap: wrap; 
}

.container-reflection2{
  flex-direction: row-reverse;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
  flex-wrap: wrap; 
}

.text-reflection{
  font-size: 20px;
  width: fit-content;
  padding-left: 20px;
  padding-bottom: 20px;
  width: 700px; 
  margin:0;
  float:inline-end;
}

.text-reflection2{
  flex-direction: row-reverse;
  font-size: 20px;
  width: fit-content;
  padding-left: 20px;
  padding-bottom: 20px;
  width: 700px; 
  margin:0;
  float:inline-end;
}

.image-reflection{
  max-width: 50vh;  
  margin: 20px 0px;
  padding: 20px;
}
 



/*----------------------
End content reflection-essay.html
----------------------*/

/*----------------------
Start content index
----------------------*/


.container-index{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px;
  flex-wrap: wrap; 
}

.text-index {
  font-size: 20px;
  text-align:left;
  width: fit-content;
  width: 400px; 
  margin:60px;
  float:inline-end;
}

.image-index{
  max-width: 50vh;  
  margin: 20px 0px;
}


/*----------------------
End content index.html
----------------------*/


 /*----------------------
Start content accesibility.html
----------------------*/


.center-accessibility{
  margin: auto;
  width: 50%;
  padding: 10px;
}


.language-html{
  background-color:white !important;
}


.accessibility{
  margin: auto;
  width: 85%;
  padding: 10px;
}



.ulListe{
  float: center!important;
  width: max-content;
  list-style: inside;
  padding: 0px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  line-height: 30px;
}



.container-accessibility{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
  flex-wrap: wrap; 
}

.text-accessibility {
  font-size: 20px;
  text-align:left;
  width: fit-content;
  width: 500px; 
  margin:0;
  float:inline-end;
}

.image-accessibility {
  width: fit-content;
  width: 500px; 
  margin:0;
  float:inline-end; 
  height: auto; 
  
}

figure img{
  max-width: 100%;
}

.full-width {
  font-size: 20px;
  text-align:left;
  width: fit-content;
 
  width: 1000px; 
  margin:0;
  float:inline-end;
}




figcaption{
  font-size: 17px;
  font-style: italic;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  line-height: 25px; 
}

.accessibility p{
  text-align: left;
}

.GIF{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}


 /*----------------------
Start content page4.html
----------------------*/

.topic{

  white-space:normal;
  text-align:left;
  width: auto;
  margin: auto;
  font-size: 20px;
  line-height: 20px;
  position: relative;
}

.background-image{
  width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: url(images/fakenews.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    opacity: 0.4;
}

.topic h1, h1{
  line-height: 80px;
  margin-bottom: 60px;
  margin-top: 50px;
}

.topic p{
  margin: auto;
  width: 60%;
  padding: 10px;  

}

.topic a{
  color:black;
}

.topic a:hover{
  color:rgb(52, 41, 209);
}



/*----------------------
Start Fun page
-----------------------*/

.slideshow h1 {
  padding: 20px;
}


/* kode for slideshow/carousel from https://www.w3schools.com/howto/howto_js_slideshow.asp*/

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 400px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Position the "previous button" to the left*/
.prev {
  left: 0; 
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.fun .box {
  width: 800px;
  height: auto; 
  border: 7px solid black;
  padding: 50px; 
  margin: 40px; 
  display: flex; 
  flex-direction: column; 
  flex-wrap: nowrap; 
  justify-content: center, space-between;
  align-items: center; 
  align-self: center; 
  text-align: center; 

  margin: 10px auto;
  
} 

.christmas { }

.walk {} 

.library {} 

.swim {} 

.islands {} 

.fun h2 {
  font-family: 'Brush Script MT', cursive;
  color: #FF0000;  
  font-size: 5rem; 
}

.fun h3 {
  font-family: 'Brush Script MT', cursive;
  color:#3F7F4B; 
  font-size: 5rem; 
}

.fun h4 {
  font-family: 'Brush Script MT', cursive;
  color:#A33CA6; 
  font-size: 5rem; 
}

.fun h5 {
  font-family: 'Brush Script MT', cursive;
  color:#6D62D4; 
  font-size: 5rem; 
}

.fun h6 {
  font-family: 'Brush Script MT', cursive;
  color:#71EC6D; 
  font-size: 5rem; 
}

.fun p {
  font-size: 1.5rem; 
  padding: 10px;
}



/*----------------------
  TABLET SCREENS
----------------------*/

@media  screen and (min-width: 600px) and (max-width: 960px) {

  /*start navbar*/
  .navbar {
    height: 15vh;
    flex-direction: row;
    font-size: 1rem;
    flex-wrap: nowrap;
  }
  
  .navbar ul {
    display: inline-block;
  }
  
  .navbar ul a{
    display: block;
    font-weight: 700;
    padding: 15px 12px;
    
  }


  /*End navbar*/
  

  /*Start footer*/
  
  footer{
    margin: 0;
    width: 100%;
    position:absolute;
    bottom: 0;
    font-size: 15px;
    padding: 7px;
  
   
  }

  /*End footer*/


  /*Start content reflection-essay.html TABLET*/

  
  .text {
    font-size: 20px;
    text-align:left;
    width: fit-content;
    padding-left: 20px;
    margin:0;
    float:inline-end;
  }

  .reflection, .reflection2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 10px;
  }

  .reflection2 {
    background-color: white;
  }

  .reflection img, .reflection2 img {
    max-width: 55vh;
    max-height: 35vh;
    float: right;
    border: solid 2px rgb(0, 0, 0);
    margin-top: 30px;
    margin-bottom: 10px;
    box-shadow: 7px 7px 10px #888888;
  }

  .reflection2 img {
    float: left;
  }
  
  p {
    font-size: 17px;
    line-height: 25px;
    margin: 20px;
  }

  /*End content reflection.html TABLET*/


   /*Start content accessibility.html TABLET*/
   .center-accessibility{
    margin: auto;
    width: 50%;
    padding: 10px;
  }
  

  
  
  .container-accessibility{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
    flex-wrap: wrap; 
  }
  
  .text-accessibility {
    font-size: 20px;
    text-align:left;
    width: fit-content;
    padding-left: 20px;
    margin:0;
    float:inline-end;
  }

  
   /*End content accessibility.html TABLET*/
  
  

  

  /*Start index TABLET*/

  .container-index{
    display: flex;
    align-items: center;
    column-gap: 20px;
    flex-wrap: nowrap; 
  }

  .text-index {
    font-size: 20px;
    text-align: right;
    padding-left: 20px;
    width: 400px; 
    float:inline-end;
  }

  #container-index2{
    flex-direction: row-reverse;
  }

  #text-index2{
    text-align: left;
  }

  .image-index{
    width: fit-content;
    padding-left: 20px;
    margin: 30px;
    float:inline-end;
    max-width: 60vh;   
  }


  /*End index TABLET*/


  /* Start FUN PAGE TABLEt*/

  .slideshow-container {
    max-width: 800px;
    position: relative;
    margin: auto;
  }

}

/*----------------------
  COMPUTER SCREENS
----------------------*/

@media screen and (min-width: 960px) {

  /*start navbar*/
  .navbar {
    height: 10vh;
    flex-direction: row;
    font-size: 1rem;
    flex-wrap: nowrap;
  }
  
  .navbar ul {
    display: inline-block;
  }
  
  .navbar ul a{
    display: block;
    font-weight: 700;
    padding: 15px 12px;
    
  }


  /*End navbar*/


  /*Start footer*/
  
  footer{
  
    margin: 0;
    width: 100%;
    position:absolute;
    bottom: 0;
    font-size: 15px;
    padding: 10px;
    
  }

  /*End footer*/



/*Start content reflection-essay.html COMPUTER SCREEN*/

.container-reflection, .container-reflection2 {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
  flex-wrap: wrap; 
}

.container-reflection2 {
  flex-direction: row-reverse;
}

.container-reflection img, .container-reflection2 img {
  max-width: 60vh;
  max-height: 55vh;
  float: right;
  margin-top: 30px;
  margin-bottom: 10px;
  
}

.container-reflection2 img {
  float: left;
}

p {
  font-size: 17px;
  line-height: 25px;
}

h1, h2 {
  line-height: 100px;
}

/*End reflection-essay.html COMPUTER SCREEN*/

  /*Start index.html COMPUTER SCREEN*/
  #container-index2{
    flex-direction: row-reverse;
    row-gap: 50px;
  }

  #text-index2{
    text-align: left;
  }

  .text-index{
    text-align: right;
  }

  .container-index{
    column-gap: 50px;
  }

  .image-index{
    max-width: 80vh;
  }

  /* Start FUN PAGE COMPUTER */
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }


}
