<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1.0"><link rel="shortcut icon" href="img/Logo.png" type="image/x-icon"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.0/themes/prism.min.css" /><link rel="stylesheet" href="style.css"><title>Accessibility</title></head><body><!--Navigation to the other sites--><nav class="navbar"><a class="logo" href="index.html"><img src="images/Oslomet.png" alt="OsloMet Logo"></a><a class="skip-to-content" href="#main">Skip to content</a><ul class="nav-list"><li><a href="index.html">Home</a></li><li><a href="reflection-essay.html">Reflection essay</a></li><li><a href="accessibility.html">Accessibility</a></li><li><a href="topical.html">Topical information</a></li><li><a href="fun.html">Fun</a></li></ul></nav><div class="accessibility"><h1>Reflection of accessibility testing</h1><h2>What is Accessibility Testing?</h2><p class="center-accessibility">Technology is changing the way we live,
but it needs to change how we access it,
especially in the digital age that provides innovation and new opportunities to everyone who consumes it. It requires a lot of effort in creating a technology that can be used by ‘everyone’. Accessibility Testing is defined as a type of Software Testing performed to ensure that the application being tested is usable by people with disabilities like hearing,
color blindness,
old age and other disadvantaged groups (Hamilton, 2021;
TestingXperts, 2021). </p><figure><div class="GIF"><iframe src="https://giphy.com/embed/0ozmBje9bTxfPlKO7m" alt="A GIF with the following words: Accessibility for all" title="GIF" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/IntoAction-wheelchair-disabled-handicapped-0ozmBje9bTxfPlKO7m"></a></p><figcaption>Figure 1. GIF animation: Accessibility for all</figcaption></div></figure><h2>Why Accessibility Testing?</h2><p class="center-accessibility">There are several reasons to test accessibility. Some of the reasons are : </p><ul><div class="center-accessibility"><li>Cater to market for Disabled People</li><li>Abide by Accessibility Legislations</li><li>Avoid Potential Law Suits</li></div></ul><p class="center-accessibility">More information about these reasons can be found <a href="https://www.testingxperts.com/blog/Why-Accessibility-Testing-is-Important#The%20Need%20For%20Accessibility%20Testing">at testingxperts blogs post. </a></p><div class="container-accessibility"><div class="text-accessibility"><p>Furthermore,
there are great benefits to accessibility testing. Among other things,
that <strong>(1)</strong>Increases the website usage and market share,
<strong>(2)</strong>Enhances the brand image,
and <strong>(3)</strong>Makes the website accessible to society (TestingXperts, 2021). </p></div><div class="image-accessibility"><figure><img src="images/benefits.png" alt="Benefits of accessibility (1) Increase the website usage and market sale,
 (2) Enhances the brand image,
and (3) Makes the website accessible to society." title="Benefits of accessibility " />
 <figcaption>Figure 2. Benefits of accessibility testing</figcaption></figure></div></div><h2>How to do Accessibility Testing,
and which tools can we use?</h2><p class="center-accessibility">In this section,
we will present how this website was designed,
with accessibility as the main focus. The structure of this section is <strong>(1)</strong>presentation of design and implementation that contributes to universal design and <strong>(2)</strong>examples of its use. </p><h3>Navigation bar</h3><div class="container-accessibility"><pre><code class="language-html">&lt;
nav class=&quot;
navbar&quot;
&gt;
&lt;
a class=&quot;
logo&quot;
href=&quot;
index.html&quot;
&gt;
&lt;
img src=&quot;
images/Oslomet.png&quot;
alt=&quot;
OsloMet Logo&quot;
&gt;
&lt;
/a&gt;
&lt;
a class=&quot;
skip-to-content&quot;
href=&quot;
#main&quot;
&gt;
Skip to content&lt;
/a&gt;
&lt;
ul class=&quot;
nav-list&quot;
&gt;
&lt;
li&gt;
&lt;
a href=&quot;
index.html&quot;
&gt;
Home&lt;
/a&gt;
&lt;
/li&gt;
&lt;
li&gt;
&lt;
a href=&quot;
reflection-essay.html&quot;
&gt;
Reflection essay&lt;
/a&gt;
&lt;
/li&gt;
&lt;
li&gt;
&lt;
a href=&quot;
accessibility.html&quot;
&gt;
Accessibility&lt;
/a&gt;
&lt;
/li&gt;
&lt;
li&gt;
&lt;
a href=&quot;
page4.html&quot;
&gt;
Topical information&lt;
/a&gt;
&lt;
/li&gt;
&lt;
/ul&gt;
&lt;
/nav&gt;
</code></pre><div class="text-accessibility"><p>Navigation is the way users find and traverse the different pages available on your site. For this reason,
it is imperative that navigation is accessible. The "skip to content-link" makes our website more accessible for blind users. The link allows users who navigate with keyboard or screen readers to easily skip to the main content without having to go through the header and navigation-menu every time (W3Schools, n.d.). By their nature,
links are tab-able and all keyboard users and screen readers will read them–so,
if your navigation is coded with links (see the code to left),
a screen reader should find when tabbing through the navigation list (STVDIO, 2021). The code on the left is inspired by Rascia (2016) which highlight code syntax in a website rather than adding a screenshot. This allows screen readers to read the entire code. </p></div></div><h3>Use of heading and paragraph tags</h3><div class="container-accessibility"><pre><code class="language-html">&lt;
h1&gt;
Reflection of accessibility testing&lt;
/h1&gt;
&lt;
h2&gt;
What is Accessibility Testing?&lt;
/h2&gt;
&lt;
h2&gt;
Why Accessibility Testing?&lt;
/h2&gt;
</code></pre><div class="text-accessibility"><p>Web pages must be readable by electronic “screen readers” — which are devices commonly used by the visually impaired to surf the internet (Smith, 2018). Screen readers use heading tagsto navigate and prioritize the content. The strategic use of heading tags will not only make the site more easily manageable by screen readers but it will also make it more optimized for search engines (Smith, 2018). Therefor,
it is important that there is a connection between the heading and the paragraph tag,
so the website is more likely to be universally designed.</p></div></div><h3>Use ALT text for images</h3><div class="container-accessibility"><pre><code class="language-html">alt=&quot;
What to avoid when referring to a link.&quot;
alt=&quot;
Use of descriptive link text&quot;
</code></pre><div class="text-accessibility"><p>Screen readers can also read the text in the ALT tags in embedded image files. These tags usually contain a description of any images,
infographics,
or other non-text information on the page. The more descriptive the image,
the better for the user (Smith, 2018).</p></div></div><h3>Use of descriptive links</h3><p class="center-accessibility">It’s important for link text to make sense without the surrounding sentences or content. The link text alone should convey the function and purpose of the link. Link text should also be unique and easy to speak out loud (Yale University, 2021). In that case,
Avoid link text like “Click Here,
” “More,
” and “Read More.” These kinds of links can be confusing when a screen reader reads them out of context. In our website,
we provided this by giving a descriptive link. Example of this is when we refer a link by writing: <br><i>"More information about these reasons can be
 found at testingxperts blogs post."</i> </p>
 <h3>Avoid parallax effects</h3><p class="center-accessibility">A parallax effect is a design trend where background elements move at speeds other than foreground elements as they scroll. We first wanted to use this effect in the homepage,
but after reading our advice for designing websites,
we dropped the effect. Because this type of movement is harmful to people with vestibular disorders and should be avoided or used with extreme caution and restraint (WCAG, 2021).</p></div><h3>Color contrast</h3><div class="container-accessibility"><div class="text-accessibility"><p>Contrast and color use are vital to accessibility. Users,
including users with visual disabilities,
must be able to perceive content on the page (WebAIM, 2021). In that case,
we used an automated test to check the contrast color of the website. The contrast ratio was X. Moreover,
the values of <strong>normal text</strong>,
<strong>large text</strong>and <strong>graphical objects and user interface components</strong>is passed,
see figure 3. </p></div><div class="image-accessibility"><figure><img src="images/Contrast.png" alt="The test result after checking the color contrast using an automated test." title="Color contrast automated test result." /><figcaption>Figure 3. Color contrast automated test result</figcaption></figure></div></div><h3>AChecker web accessibility checker</h3><div class="container-accessibility testing"><div class="full-width"><p>We used another automated tool named "AChecker". This time,
we set the options to <strong>Enable HTML,
CSS and show sources validator</strong>. We also used both <strong>2.0 (Level AA and AAA)</strong>. The test results after checking was "Congratulations! No known problems",
see figure 4. </p><figure><img src="images/AChecker.png" alt="The test result after using AChecker as an automated test." title="AChecker automated test result." /><figcaption>Figure 4. AChecker automated test result.</figcaption></figure></div></div><footer><address>Get in touch!<br>Send an email to : <a href="mailto:test@hotmail.com">student@gmail.com</a>or call/text me at : <a href="tel:+4798112211">+47 99110033</a></address><a class="button-up" href="#top"><img src="images/arrow.png" alt="click here to get to the top of the page"></a></footer><script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.0/prism.min.js"></script></body></html>
/*----------------------
End content reflection-essay.html
----------------------*/


/*----------------------
Start content index
----------------------*/

.container-index {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    flex-wrap: wrap;
}

.text-index {
    font-size: 20px;
    text-align: left;
    width: fit-content;
    width: 400px;
    margin: 10px;
}

.image-index {
    max-width: 100vh;
    margin: 10 px 0px;
}


/*----------------------
End content index.html
----------------------*/


/*----------------------
Start content accesibility.html
----------------------*/

.center-accessibility {
    margin: auto;
    width: 50%;
    padding: 10px;
    list-style: inside;
}

.language-html {
    background-color: white !important;
}

.container-accessibility {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
    flex-wrap: wrap;
}

.text-accessibility {
    font-size: 20px;
    text-align: center;
    width: fit-content;
    width: 500px;
    margin: 0;
    float: inline-end;
}

.image-accessibility {
    width: fit-content;
    width: 500px;
    margin: 0;
    float: inline-end;
    height: auto;
}

figure img {
    max-width: 100%;
}

.full-width {
    font-size: 20px;
    text-align: center;
    width: fit-content;
    width: 1000px;
    margin: 0;
    float: inline-end;
}

figcaption {
    font-size: 17px;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    text-align: center;
    line-height: 25px;
}

.accessibility p {
    text-align: center;
}

.GIF {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}


/*----------------------
Start content page4.html
----------------------*/

.topic {
    white-space: normal;
    text-align: left;
    width: auto;
    margin: auto;
    font-size: 20px;
    line-height: 20px;
    position: relative;
}

.background-image {
    width: 70%;
    height: 50%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: url(images/fakenews.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    opacity: 0.4;
}

.topic h1 {
    line-height: 80px;
    margin-bottom: 60px;
    margin-top: 50px;
}

.topic p {
    margin: auto;
    width: 60%;
    padding: 10px;
    width: 480px;
}

.topic a {
    color: black;
}

.topic a:hover {
    color: rgb(52, 41, 209);
}


/*----------------------
Start Fun page
-----------------------*/

.slideshow h1 {
    padding: 20px;
}


/* kode for slideshow/carousel from https://www.w3schools.com/howto/howto_js_slideshow.asp*/

* {
    box-sizing: border-box;
}


/* Slideshow container */

.slideshow-container {
    max-width: 400px;
    position: relative;
    margin: auto;
}


/* Hide the images by default */

.mySlides {
    display: none;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* Position the "previous button" to the left*/

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* Caption text */

.text {
    color: rgb(0, 0, 0);
    background-color: white;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 15px;
    width: 100%;
    text-align: center;
}


/* Number text (1/3 etc) */

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}


/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

.fun .box {
    width: 350px;
    height: auto;
    border: 7px solid black;
    padding: 50px;
    margin: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center, space-between;
    align-items: center;
    align-self: center;
    text-align: center;
    margin: 10px auto;
}

.fun h2 {
    font-family: "Brush Script MT", cursive;
    color: #ff0000;
    font-size: 5rem;
}

.fun h3 {
    font-family: "Brush Script MT", cursive;
    color: #3f7f4b;
    font-size: 5rem;
}

.fun h4 {
    font-family: "Brush Script MT", cursive;
    color: #a33ca6;
    font-size: 5rem;
}

.fun h5 {
    font-family: "Brush Script MT", cursive;
    color: #6d62d4;
    font-size: 5rem;
}

.fun h6 {
    font-family: "Brush Script MT", cursive;
    color: #71ec6d;
    font-size: 5rem;
}

.fun p {
    font-size: 1.5rem;
    padding: 10px;
}


/*----------------------
  TABLET SCREENS
----------------------*/

@media screen and (min-width: 600px) and (max-width: 960px) {
    /* Start FUN PAGE TABLEt*/
    .slideshow-container {
        max-width: 800px;
        position: relative;
        margin: auto;
    }
    .fun .box {
        width: 700px;
        height: auto;
        border: 7px solid black;
        padding: 50px;
        margin: 40px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center, space-between;
        align-items: center;
        align-self: center;
        text-align: center;
        margin: 10px auto;
    }
}


/*----------------------
  COMPUTER SCREENS
----------------------*/

@media screen and (min-width: 960px) {
    /*start navbar*/
    .navbar {
        height: 10vh;
        flex-direction: row;
        font-size: 1rem;
        flex-wrap: nowrap;
    }
    .navbar ul {
        display: inline-block;
    }
    .navbar ul a {
        display: block;
        font-weight: 700;
        padding: 15px 12px;
    }
    /*End navbar*/
    /*Start footer*/
    footer {
        margin: 0;
        width: 100%;
        position: absolute;
        bottom: 0;
        font-size: 15px;
        padding: 10px;
    }
    /*End footer*/
    /*Start content reflection-essay.html COMPUTER SCREEN*/
    .container-reflection,
    .container-reflection2 {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 15px;
        flex-wrap: wrap;
    }
    .container-reflection2 {
        flex-direction: row-reverse;
    }
    .container-reflection img,
    .container-reflection2 img {
        max-width: 90vh;
        max-height: 55vh;
        float: right;
        margin-top: 30px;
        margin-bottom: 10px;
    }
    .container-reflection2 img {
        float: left;
    }
    p {
        font-size: 17px;
        line-height: 25px;
    }
    h1,
    h2 {
        line-height: 100px;
    }
    /*End reflection-essay.html COMPUTER SCREEN*/
    /*Start index.html COMPUTER SCREEN*/
    .container-index {
        column-gap: 50px;
    }
    .text-index {
        line-height: 30px;
        margin: 15px;
    }
    .image-index {
        max-width: 80vh;
        max-height: 70vh;
        margin-bottom: 20px;
    }
    /* Start FUN PAGE COMPUTER */
    .slideshow-container {
        max-width: 1000px;
        position: relative;
        margin: auto;
    }
    .fun .box {
        width: 800px;
        height: auto;
        border: 7px solid black;
        padding: 50px;
        margin: 40px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center, space-between;
        align-items: center;
        align-self: center;
        text-align: center;
        margin: 10px auto;
    }
}