/*----------------------
  Mobile first!
----------------------*/

body{
  margin: 0;
  font-family: Arial, Verdana, Geneva, Tahoma, sans-serif;
}



/*----------------------
    Start of navbar
----------------------*/
.navbar {
  background-color: white;
  border-bottom: rgba(10, 23, 80) solid 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*flex-direction: column;*/
  top: 0;
  width: 100%;
  z-index: 100;
  height: 40vh;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar ul {
  display: flex;
  list-style: none;
  overflow: hidden;
  flex-direction: column;
}

.navbar ul a{
  display: block;
  border-radius: 20px;
  color: black;
  font-weight: 700;
  padding: 15px 12px;
  text-decoration: none;
  transition: background-color 0.6s ease, color 0.3s;
}

.navbar ul a:hover{
  background-color:rgb(10, 23, 80);
  color: white;
}

.nav-list{
  margin-right: 10%;
}


.navbar li {
  display: inline-block;
  list-style: none;
}


.logo {
  float: left;
  display: block;
  padding: 10px;
  margin-left: 5px;
  white-space: nowrap;
}

.logo img{
  border-radius: 70%;
  transition: 1s;
  width: 6vh;
}

.logo img:hover{
  box-shadow: 0 0 15px 10px yellow;
}

.logo a {
  align-items: center;
  border-radius: 50px;
  color: black;
  display: flex;
  font-size: 1.5rem;
  font-weight: 800;
  padding-right: 18px;
  text-decoration: none;
  transition: background-color 0.6s ease-in-out, color 0.3s ease-in-out;
}


.skip-to-content{
  left: 50%;
  text-decoration: none;
  color: black;
}

/*----------------------
  End of navbar
----------------------*/


/*----------------------
    Start of footer and button skip-to-top
----------------------*/
.button-up {
  background-color: rgb(10, 23, 80);
  border-radius: 16px;
  border: rgb(10, 23, 80) solid 2px;
  bottom: 0;
  margin: 12px 8px;
  position: fixed;
  right: 0;
}

.button-up img {
  filter: invert(100%);
  padding: 8px;
  transform: rotate(-90deg);
  transition: 0.2s;
  width: 24px;
}
  
.button-up img:hover {
  width: 70px;
}

footer{
  border: rgb(10, 23, 80) solid 2px;
  bottom: 0;
  margin: 12px 8px;
  left: 0;
  position: relative;
  background-color: rgb(10, 23, 80);
  font-size: 13px;
  max-width: 45vh;
  color:white;
  height: 50px;
}

footer a{
  color:white;
}


/*----------------------
  End of footer and button skip-to-top
----------------------*/

/*----------------------
Start content index.html
----------------------*/



/*----------------------
End content index.html
----------------------*/


/*----------------------
h and p
----------------------*/

h1, h2, p{
 
  padding: 0;
}

h1, h2 {
  margin-bottom: 0;
  line-height: 70px;
  
}

h1 {
  font-size: 3rem;
}

h2, h3{
  font-size: 2rem;
}


p{
  margin-top: 0;
  font-size: 20px;
  line-height: 30px;
}



 /*----------------------
Start content accesibility.html
----------------------*/

.center{
  margin: auto;
  width: 50%;
  padding: 10px;
}


.language-html{
  background-color:white !important;
}


.accessibility{
  margin: auto;
  width: 85%;
  padding: 10px;
}



.ulListe{
  float: center;
  width: max-content;
  list-style: inside;
  padding: 0px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  line-height: 30px;

}



.container{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
  flex-wrap: wrap; 
}

.text {
  font-size: 20px;
  text-align:left;
  width: fit-content;
  padding-left: 20px;
  width: 400px; 
  margin:0;
  float:inline-end;
}

.image{
  width: fit-content;
  padding-left: 20px;
  width: 400px; 
  margin:0;
  float:inline-end;
  max-width: 100%;  
  height: auto; 
}

figcaption{
  font-size: 17px;
  font-style: italic;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  line-height: 25px; 
}


 /*----------------------
Start content page4.html
----------------------*/

.center1{
  margin: auto;
  width: 60%;
  padding: 10px;  
}


.topic{
  white-space:normal;
  text-align:left;
  width: auto;
  margin: auto;
  font-size: 20px;
  line-height: 20px;
  background-image: url(images/fakenews.jpg);
  background-repeat: no-repeat;
  background-position: bottom center;
  /*opacity: 0.20; */
}

.topic h1{
  line-height: 80px;
  margin-bottom: 60px;
  margin-top: 50px;
  position: center;
}

.topic a{
  color:black;
}

.topic a:hover{
  color:rgb(52, 41, 209);
}

/*.topic p{
  
} */





/*----------------------
  TABLET SCREENS
----------------------*/

@media  screen and (min-width: 600px) and (max-width: 960px) {

  /*start navbar*/
  .navbar {
    height: 15vh;
    flex-direction: row;
    font-size: 4rem;
    flex-wrap: nowrap;
  }
  
  .navbar ul {
    display: inline-block;
  }
  
  .navbar ul a{
    display: block;
    font-weight: 700;
    padding: 15px 12px;
    font-size: 10px;
  }

  .skip-to-content{
    font-size: 10px;
  }

  /*End navbar*/
  

  /*Start footer*/
  
  footer{
    font-size: 15px;
    max-width: 100%;
    padding: 7px;
    margin-left: 10px;
    
  }

  /*End footer*/


  /*Start content index.html TABLET*/

  
  .text {
    font-size: 20px;
    text-align:left;
    width: fit-content;
    padding-left: 20px;
    width: 400px; 
    margin:0;
    float:inline-end;
  }

  
  
  p {
    font-size: 17px;
    line-height: 25px;
    margin: 20px;
  }

  /*End content index.html TABLET*/

}

/*----------------------
  COMPUTER SCREENS
----------------------*/

@media screen and (min-width: 960px) {

  /*start navbar*/
  .navbar {
    height: 10vh;
    flex-direction: row;
    font-size: 1rem;
    flex-wrap: nowrap;
  }
  
  .navbar ul {
    display: inline-block;
  }
  
  .navbar ul a{
    display: block;
    font-weight: 700;
    padding: 15px 12px;
    
  }

  /*End navbar*/


  /*Start footer*/
  
  footer{
    font-size: 15px;
    max-width: 100%;
    padding: 7px;
    margin-left: 9px;
    
  }

  /*End footer*/


  
/*

/*Start content index.htmlCOMPUTER SCREEN*/


p {
  font-size: 17px;
  line-height: 25px;
}

h1, h2 {
  line-height: 100px;
}

/*End index.html  COMPUTER SCREEN*/
}


